.mahjong {
  height: calc(100vh - 10em);
  overflow: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-flow: column;

  & .prepare {
    width: 100%;
    min-height: calc(100vh - 10em);
    display: flex;
    align-items: center;
    justify-content: center;

    & .start {
      font-size: 5em;
      color: var(--theme-dark);
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        color: var(--theme-dark-active);
        transform: scale(1.1);
      }
    }
  }

  & .playing {
    width: 100%;
    flex: 1;
    min-height: calc(100vh - 10em);
    display: flex;
    flex-flow: column;
    gap: 1em;

    & .header {
      display: flex;
      justify-content: space-between;

      & .dora {
        padding: 0.3em 0.5em;
        border: 1px solid var(--border);
        display: flex;
        align-items: center;
        gap: 1em;
      }

      & .back {
        padding: 0 0.5em;
        font-size: 2em;
        border: 1px solid var(--border);
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          color: var(--theme-dark);
          border-color: var(--theme-dark);
        }
      }
    }

    & .player {
      flex: 1;
      background: var(--background-lighter);
      position: relative;

      & .discard-zone {
        width: 30em;
        height: 30em;
        border: 1px solid var(--border);
        position: absolute;
        left: calc(50% - 15em);
        top: calc(50% - 15em);

        & .discard {
          width: 13em;
          display: flex;
          flex-flow: row wrap;
          transform-origin: center -7em;
          position: absolute;
          top: calc(50% + 7em);
          left: calc(50% - 6.5em);
        }

        & .p2 {
          transform: rotate(-90deg);
        }

        & .p3 {
          transform: rotate(180deg);
        }

        & .p4 {
          transform: rotate(90deg);
        }
      }

      & .player-zone {
        & .player {
          width: 26em;
          padding: 0.5em;
          font-size: 1em;
          display: flex;
          justify-content: center;
          position: absolute;
        }

        & .p1 {
          font-size: 2em;
          bottom: 0;
          left: calc(50% - 13em);

          & .card:hover {
            transform: translateY(-0.3em);
          }
        }

        & .p2 {
          transform-origin: center right;
          transform: rotate(-90deg);
          right: 1.5em;
          top: calc(50% - 13em);
        }

        & .p3 {
          transform: rotate(180deg);
          top: 0em;
          left: calc(50% - 13em);
        }

        & .p4 {
          transform-origin: center left;
          transform: rotate(90deg);
          left: 1.5em;
          top: calc(50% - 13em);
        }
      }

      & .meld-area {
        & .meld {
          padding: 0.5em;
          font-size: 1em;
          display: flex;
          gap: 1em;
          position: absolute;
        }

        & .m1 {
          bottom: 0;
          right: 0;
        }

        & .m2 {
          transform-origin: center right;
          transform: rotate(-90deg);
          right: 2em;
          top: 0;
        }

        & .m3 {
          transform: rotate(180deg);
          top: 0em;
          left: 0;
        }

        & .m4 {
          transform-origin: center left;
          transform: rotate(90deg);
          bottom: 5em;
          left: 2em;
        }
      }
    }
  }
}
