.error-page {
  margin-top: 10em;
  animation: updisplay 0.3s;
  display: flex;
  flex-flow: column;
  gap: 2em;
  align-items: center;

  & h3 {
    color: var(--danger);
  }

  & .homebtn {
    padding: 0.6em 1em;
    color: var(--color-anti);
    border: none;
    border-radius: 0.4em;
    background: var(--theme-dark);
    cursor: pointer;
    transition: all 0.3s;
    animation: updisplay 0.3s 0.3s backwards;
    display: flex;
    gap: 0.5em;
    align-items: center;

    &:hover {
      background: var(--theme-dark-active);
    }
  }
}
