.typing {
  align-self: center;
  width: 82em;
  display: flex;
  flex-flow: column;
  gap: 1em;
  align-items: center;
  position: relative;
}

.t-game {
  width: 40em;
  padding: 1em;
  background: var(--theme-light);
  display: flex;
  flex-flow: column;
  gap: 1em;
  align-items: center;
  position: relative;
}

.t-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.t-count {
  align-self: flex-start;
}

.t-words {
  color: var(--color-light);
  letter-spacing: 3px;
  line-height: 2em;
  text-align: justify;
  word-break: break-all;
  align-self: flex-start;
}

.t-reset {
  cursor: pointer;
  transition: all .3s;
}

.t-reset:hover {
  color: var(--theme-dark);
  transform: rotate(180deg);
}

.t-tips {
  width: 40rem;
  color: var(--color-light);
  font-size: .8em;
  cursor: default;
  animation: updisplay .3s ease;
  display: flex;
  gap: .5em;
  align-items: center;
}

.tt-btn {
  padding: 0 3px;
  font-size: .8em;
  color: var(--color-anti);
  background: var(--color-light);
  border-radius: 4px;
}

.t-results {
  width: 20em;
  padding: 1em;
  animation: updisplay .3s ease;
  background: var(--theme-light);
  display: flex;
  flex-flow: column;
  gap: 1em;
  align-items: center;
  position: absolute;
  left: 62em;
  top: 0;
}

.tr-1 {
  font-weight: 800;
  animation: updisplay .3s ease .3s backwards;
}

.tr-2 {
  animation: updisplay .3s ease .6s backwards;
}

.tr-3 {
  animation: updisplay .3s ease .9s backwards;
}

.tr-4 {
  animation: updisplay .3s ease 1.2s backwards;
}

.tr-5 {
  animation: updisplay .3s ease 1.5s backwards;
}

.tr-table {
  animation: updisplay .3s ease .6s backwards;
}

.tr-new-tr {
  color: var(--theme-dark);
}

.t-rank {
  width: 20em;
  padding: 1em;
  background: var(--theme-light);
  animation: show-results .3s ease;
  display: flex;
  flex-flow: column;
  gap: 1em;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}

.t-rank-null {
  width: 20em;
}

@media (max-width: 1100px) {
  .typing {
    width: 100%;
  }

  .t-results,
  .t-rank {
    width: 40em;
    position: static;
  }
}