.t-set {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.ts-icon {
  cursor: pointer;
  transition: all 0.3s;
}

.ts-icon:hover {
  color: var(--theme-dark);
  transform: rotate(180deg);
}

.t-pop {
  padding: 1em;
  background: var(--background);
  border-radius: 0.5em;
  box-shadow: 0.2em 0.2em 0.2em var(--box-shadow);
  white-space: nowrap;
  animation: downdisplay 0.3s;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1em;
  position: absolute;
  top: calc(100% + 1em);
  z-index: 10;
}

.t-pop::before {
  content: '';
  width: 1em;
  height: 1em;
  border: 0.5em solid var(--background);
  transform: rotate(45deg);
  position: absolute;
  top: -0.1em;
  z-index: -1;
}

.t-pop > div {
  display: flex;
  gap: 1em;
  align-items: center;
}

.tp-btns {
  display: flex;
  gap: 1em;
}

.tp-btns > div {
  padding: 0.1em 0.3em;
  border: 1px solid var(--border);
  border-radius: 0.2em;
  cursor: pointer;
  transition: all 0.3s;
}

.tp-btns > div:hover,
.tp-btns > div.active {
  color: var(--color-anti);
  background: var(--theme-dark);
  border-color: var(--theme-dark);
}
