.greedy-snake {
  width: 1080px;
  margin: 0 auto;
  padding-bottom: 1em;
  display: flex;
  gap: 2em;
}

.gs-btns {
  flex: 1;
  display: flex;
  flex-flow: column;
  gap: 1em;
}

.gs-btn {
  cursor: pointer;
  transition: all .3s;
  box-shadow: 1px 1px 3px #00000090;
}

.gs-btn:hover {
  box-shadow: 1px 1px 3px inset #00000090;
}

.gs-map {
  width: 1000px;
  height: 600px;
}