header {
  width: 100%;
  padding: 0 1em;
  box-shadow: 3px 0 5px rgb(200, 200, 200);
  display: flex;
  gap: 1em;
  flex-flow: row;
  align-items: center;
}

.header-title {
  font-size: 1.2em;
  font-weight: 800;
}