.exhibition {
  animation: updisplay .3s;
  display: flex;
  flex-flow: row wrap;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

.exhibition-item {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px var(--box-shadow);
  transition: all .3s;
  display: flex;
  flex-flow: column;
  place-items: center;
  justify-content: center;
  gap: 1em;
}

.exhibition-item:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 10px var(--box-shadow);
}

.ei-name {
  color: var(--color);
  transition: all .3s;
}

.exhibition-item:hover .ei-name {
  color: var(--theme-dark);
}