.typing {
  display: flex;
  gap: 1em;
}

.t-rank {
  min-width: 150px;
  background: radial-gradient(transparent 50%, var(--theme-light) 100%);
}

.t-game {
  max-width: 600px;
  padding: 1em;
  background: radial-gradient(transparent 50%, var(--theme-light) 100%);
  display: flex;
  flex-flow: column;
  gap: 1em;
  align-items: center;
}

.t-count {
  align-self: flex-start;
}

.t-words {
  color: var(--color-light);
  letter-spacing: 3px;
  line-height: 2em;
  text-align: justify;
  word-break: break-all;
  align-self: flex-start;
}

.t-reset {
  padding: 5px;
  cursor: pointer;
  transition: all .3s;
}

.t-reset:hover {
  color: var(--theme-dark);
  transform: rotate(180deg);
}

.t-results {
  min-width: 150px;
  padding: 1em;
  background: radial-gradient(transparent 50%, var(--theme-light) 100%);
  display: flex;
  flex-flow: column;
  gap: 1em;
  align-items: center;
}