.typing {
  display: flex;
  gap: 1em;
  position: relative;
}

.t-rank {
  width: 300px;
  padding: 1em;
  background: radial-gradient(transparent 50%, var(--theme-light) 100%);
  animation: show-results .3s ease;
  display: flex;
  flex-flow: column;
  gap: 1em;
  align-items: center;
  position: absolute;
  left: calc(-300px - 1em);
}

.t-game {
  max-width: 600px;
  padding: 1em;
  background: radial-gradient(transparent 50%, var(--theme-light) 100%);
  display: flex;
  flex-flow: column;
  gap: 1em;
  align-items: center;
}

.t-count {
  align-self: flex-start;
}

.t-words {
  color: var(--color-light);
  letter-spacing: 3px;
  line-height: 2em;
  text-align: justify;
  word-break: break-all;
  align-self: flex-start;
}

.t-reset {
  padding: 5px;
  cursor: pointer;
  transition: all .3s;
}

.t-reset:hover {
  color: var(--theme-dark);
  transform: rotate(180deg);
}

.t-results {
  width: 200px;
  padding: 1em;
  background: radial-gradient(transparent 50%, var(--theme-light) 100%);
  animation: show-results .3s ease;
  display: flex;
  flex-flow: column;
  gap: 1em;
  align-items: center;
  position: absolute;
  right: calc(-200px - 1em);
}

.tr-1 {
  font-weight: 800;
  animation: show-results .3s ease .3s backwards;
}

.tr-2 {
  animation: show-results .3s ease .6s backwards;
}

.tr-3 {
  animation: show-results .3s ease .9s backwards;
}

.tr-4 {
  animation: show-results .3s ease 1.2s backwards;
}

.tr-5 {
  animation: show-results .3s ease 1.5s backwards;
}

.tr-table {
  animation: show-results .3s ease .6s backwards;
}

@keyframes show-results {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}