.t-rank {
  width: 20em;
  padding: 1em;
  background: var(--background-lighter);
  animation: updisplay 0.3s;
  display: flex;
  flex-flow: column;
  gap: 1em;
  align-items: center;
}

.tr-title {
  animation: updisplay 0.3s 0.3s backwards;
}

.tr-content {
  width: 100%;
  animation: updisplay 0.3s 0.6s backwards;
  display: flex;
  flex-flow: column;
  gap: 1em;
}

.trc-row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.trc-row span {
  flex: 1;
  font-size: 0.8em;
  text-align: center;
}

.trc-row:nth-child(1) span {
  padding: 0.5em;
  font-size: 1em;
  font-weight: 800;
  background: var(--background);
}

.trc-rank {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trc-new {
  animation: popin 0.3s 0.9s backwards;
  position: absolute;
  left: 0;
}

.t-clear {
  cursor: pointer;
  animation: updisplay 0.3s 0.9s backwards;
  transition: all 0.3s;
  position: relative;
}

.t-clear > span {
  animation: rightdisplay 0.3s;
  white-space: nowrap;
  position: absolute;
}

.t-clear:hover {
  color: var(--danger);
}

@media (max-width: 85em) {
  .t-rank {
    width: 40em;
    order: 3;
  }
}
