/*--------------------------
-------- CSS RESET ---------
--------------------------*/

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: .5vw;
  height: .5vw;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  border-radius: 1vw;
  background: var(--background-color);
  background-clip: padding-box;
  cursor: pointer;
}

:root {
  font: calc(.4rem + .5vw) Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light;
}

body {
  margin: 0;
}

#root {
  min-width: 350px;
  width: 100vw;
  height: 100vh;
  overflow: overlay;
  color: var(--color);
  background-color: var(--body-bg);
  display: inline-flex;
  flex-flow: column;
  gap: 1em;
  align-items: center;
  position: relative;
}

a {
  color: var(--color);
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #213547;
    --color-light: #5b6c82;
    --color-anti: #ffffff;
    --body-bg: #ffffff;
    --box-shadow: #c8c8c8;
    --background-color: #c8c8c8;

    --theme-dark: #4096ff;
    --theme-light: #eff8ff;
  }
}

/*--------------------------
------ CSS ANIMATION -------
--------------------------*/

/* 上升显示 */
@keyframes updisplay {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* 下降隐藏 */
@keyframes downhide {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* 上升隐藏 */
@keyframes uphide {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* 下降显示 */
@keyframes downdisplay {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* 向左显示 */
@keyframes leftdisplay {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* 向右显示 */
@keyframes rightdisplay {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}