* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color);
  background-color: var(--body-bg);
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #213547;
    --color-light: #5b6c82;

    --body-bg: #ffffff;
    --box-shadow: #c8c8c8;
    --background-color: #c8c8c8;

    --theme-dark: #4096ff;
    --theme-light: #eff8ff;
  }
}

/* 动画 */

/* 上升显示 */
@keyframes updisplay {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* 下降隐藏 */
@keyframes downhide {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* 上升隐藏 */
@keyframes uphide {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* 下降显示 */
@keyframes downdisplay {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* 向左显示 */
@keyframes leftdisplay {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* 向右显示 */
@keyframes rightdisplay {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}