* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color);
  background-color: var(--body-bg);
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #213547;
    --color-light: #5b6c82;
    --body-bg: #ffffff;
    --box-shadow: #c8c8c8;
    --background-color: #c8c8c8;
    --theme-dark: #4096ff;
    --theme-light: #eff8ff;
  }
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}