.breadcrumb {
  width: 100%;
  color: var(--color-light);
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.breadcrumb a {
  color: var(--color-light);
  border-radius: 1em;
  transition: all 0.3s;
  animation: leftdisplay 0.3s;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.breadcrumb a:last-child {
  color: var(--color);
}

.breadcrumb a:hover {
  box-shadow: inset 0 0 0 10em var(--background-lighter),
    -0.2em 0 0 0.15em var(--background-lighter),
    0.2em 0 0 0.15em var(--background-lighter);
}

.breadcrumb span {
  animation: leftdisplay 0.3s;
}
