.card {
  width: 1.65em;
  transition: all 0.1s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &.tsumogiri {
    filter: brightness(0.6);
  }

  &.new-card {
    margin: 0 0.5em;
  }
}
